VITE_SUPABASE_URL=https://vwtvfwctalqgvrhflmga.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ3dHZmd2N0YWxxZ3ZyaGZsbWdhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2OTk3NjUsImV4cCI6MjA5MDI3NTc2NX0.LZL6Km-KmRDqmb5zEb3Y1s_eB3ZXmpzsExgFdhN7Qp8
